.download {
  background-image: url('../../img/backgrounds/background__phone.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-weight: 300;
    color: $basic-white;
  }

  &__link {
    font-weight: 700;
    color: $basic-white;
  }

    @media (min-width:$tablet-width) {
    background-image: url('../../img/backgrounds/background__tablet.jpg');
    }

    @media (min-width:$desktop-width) {
    background-image: url('../../img/backgrounds/background__dekstop.jpg');
    }

}
