.page-header {
  position: absolute;
  display: flex;
  flex-direction: column;


  &__logo {
    height: 66px;
  }

  @media (min-width: $tablet-width) {
      height: 40px;
      width: 145px;
    }
}
