.phone {
  &__title {
    font-weight: 700;
    color: $basic-dark;
    font-size: 18px;
    line-height: 25px;
  }

  &__number {
    font-weight: 300;
    color: $basic-pink;
    font-size: 24px;
    line-height: 33px;
  }
}
