.social {

}

.social__list {
  list-style: none;
  display: flex;
}

.social__link {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #E9EBEC;
  border-radius: 50%;
  margin: 0 7px;
}
